@import '/src/Styles/variables'
    
.certificados 
    margin: 5rem auto 0

    .title 
        font-size: 2rem
        margin-bottom: 2rem

        &::after 
            content: ''
            width: 60%
            height: 2px
            background: $c3
            display: block
            margin-top: 10px

    .carousel
        width: 60%
        margin: 0 auto

    @media (max-width: $mobileBreakpoint)
        .carousel 
            width: 90%