@import './Styles/reset'
@import './Styles/variables'
  
img 
  width: 100%

body
  font-family: 'Poppins', sans-serif

.container 
  width: 60%

  @media (max-width: $tabletBreakpoint)
    width: 80%
  @media (max-width: $mobileBreakpoint)
    width: 95%
    